@charset "ISO-8859-1";
/* Stile per l'header */
h1 {
    text-align: center; /* Allinea il testo al centro */
    color: #009933; /* Colore del testo verde */
}

/* Stile per i link */
a {
    display: block; /* Rendi il link un blocco */
    text-decoration: none; /* Rimuovi la sottolineatura */
    color: #009933; /* Colore dei link verde */
    margin-top: 10px; /* Margine superiore */
    text-align: center; /* Allinea il testo al centro */
}

/* Stile per i link al passaggio del mouse */
a:hover {
    text-decoration: underline; /* Sottolinea il testo al passaggio del mouse */
}
